{{define "main"}}
<main id="notes-container" class="notes-container px-3">
  <article class="note bg-white m-4 shadow border rounded-3 p-5" data-href="{{ .Permalink }}">
    <section class="note-content">
      <div class="note-header mb-4">
        <h1>{{ .Title }}</h1>
        {{ if .Lastmod }}
        <span class="text-muted">Last modified: {{ .Lastmod | time.Format ":date_medium" }}</span>
        {{ end }}
      </div>

      {{ .Content }}
    </section>
    <template id="template-note-placeholder">
      <div class="note bg-white m-4 shadow border rounded-3 p-5">
        <div class="note-content">
          <div class="d-flex align-items-center w-fit-content gap-4">
            <div class="spinner-border">
            </div>
            <div role="status">
              Loading...
            </div>
          </div>
        </div>
      </div>
    </template>
    {{ partial "backlinks.html" . }}
  </article>
</main>

{{ $stackedNotes := resources.Get "js/stacked-notes.js" }}
<script src="{{ $stackedNotes.Permalink }}" type="text/javascript"></script>
{{end}}
