.sidenav {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 15rem;
}

body {
    padding-left: 15rem;
    overflow-x: auto;
}

.notes-container {
    display: flex;
    flex-wrap: nowrap;
    width: fit-content;
    height: 99vh;
}

.note {
    width: fit-content;
    overflow-y: auto;
}

.note-entry {
    height: 20em;
}

.note-content {
    position: relative;
    width: 35em;
    margin-right: 15em;
    hyphens: auto;
    text-align: justify;
}

aside {
    border-top: solid 1px #dee9ed;
}

.floating-aside {
    position: absolute;
    text-align: start;
    width: 14em;
    left: 38em;
}

.note-content h1, 
.note-content h2, 
.note-content h3, 
.note-content h4, 
.note-content h5, 
.note-content h6 {
    text-align: start;
    margin-top: 2ex;
}

.note-header h1,
.note-header + h2,
.note-header + h3,
.note-header + h4,
.note-header + h5,
.note-header + h6 {
    margin-top: 0;
}

.date-info {
    color: gray;
}

.highlight pre {
    border-radius: 3px;
    padding: 1ex;
}

.w-fit-content {
    width: fit-content;
}

.external-link::after {
    content: "";
    width: 0.7em;
    height: 1.1em;
    margin-left: 0.2ex;
    /* The following is bootstrap's box-arrow-up-right icon */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
    background-position: bottom 1px center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}
