<div class="sidenav d-flex flex-column flex-shrink-0 p-3 text-white bg-dark shadow ">
  <a href="/" class="text-white text-center text-decoration-none">
    <span class="fs-4 ">{{ site.Title }}</span>
  </a>
  <hr>
  <nav class="nav nav-pills flex-column">
    {{ $currPage := . }}
    {{ range where site.Sections "Type" "in" site.Params.mainSections }}
    <div class="nav-item">
      <a href="{{ .RelPermalink }}" class="nav-link text-white {{ if $currPage.InSection . }}active{{ end }}">{{ .Title }}</a>
    </div>
    {{ end }}
  </nav>
  {{ if .IsPage }}
    <hr>
    <div id="sidebar-pagelist" class="list-group list-group-flush">     
    </div>
    <template id="template-sidebar-pagelist-item">
      <a href="#" class="sidebar-pagelist-link list-group-item list-group-item-action"></div>
    </template>
  {{ end }}
  {{ if not (.IsDescendant (.GetPage "/search")) }}
    <hr class="mt-auto">
    {{ partial "search-form.html" . }}
  {{ end }}
</div>
